# Intro to Dataframes

In [ ]:
import pandas as pd 

df = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], columns=["A", "B", "C"], index=["x", "y", "z"])
# You can specify the columns and indexes as shown above

In [15]:
# To see the first 5 rows
df.head()

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [16]:
# To see the last 5 rows
df.tail()

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [17]:
# To acsess columns
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [18]:
# To acsess indexes
df.index.to_list()

['x', 'y', 'z']

In [ ]:
# To get information about the dataframe
df.info()
"""
The output describes a pandas DataFrame with 3 rows (indexed x to z) and 3 columns (A, B, and C). 
All columns contain integer (int64) values with no missing data, and the entire DataFrame uses 
about 96 bytes of memory.
"""

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, x to z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [20]:
# To get summary statistical information about the data
df.describe()

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [ ]:
# To find how many unique values are in each column
df.nunique()
# For specific column you can use df["A"].nunique()

A    3
B    3
C    3
dtype: int64

In [ ]:
# To know the shape of the dataframe (row x column)
df.shape

(3, 3)

In [23]:
# To know the number of items in the Dataframe
df.size

9

# Loading in Dataframes from Files